* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: darkgrey;
}

@font-face {
	font-family: 'Helvetica Rounded Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Helvetica Rounded Bold'), url('helvetica-rounded-bold-5871d05ead8de.woff') format('woff');
}

@font-face {
	font-family: 'Gothic';
	font-weight: 700;
	src: local('Gothic'), url('gothic.woff') format('woff');
}

form {
	background: #f1f1f1;
	width: 100%;
	margin: 0 auto;
	padding: 20px 40px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;	
}

h2 {
	font-family: "Gothic";
	text-align: center;
	letter-spacing: -1px;	
	font-weight: normal;
	font-size: 2.5em;
	margin-top: 20px;
}

hr {
	margin-bottom: 3em;
}

.form_group {
	margin: 30px 0;
}

.form_group label {
	display: block;
	margin: 10px 0;
	font-size: 0.8em;
	font-family: Arial;
}

.form_group input {
	width: 100%;
	padding: 20px 5px 20px 40px;			
	box-shadow: 0 0 5px black;
	border: 1px solid white;
	border-radius: 3px;
	font-size: 1em;
	font-family: 'Helvetica Rounded Bold';
	background-color: white;
	height: 35px;
}

.form_group input:focus, .form_group select:focus {
	outline: none;
	box-shadow: 0 0 5px 2px rgb(170, 0, 0);
}

.form_group select {
	width: 100%;
	box-shadow: 0 0 5px black;
	border: 1px solid white;
	border-radius: 3px;
	background-color: white;
	font-size: 1em;
	font-family: 'Helvetica Rounded Bold';
	height: 42px;
	padding-left: 8px;
}

.form_submit {		
	display: block;
	width: 100%;
	margin: 45px 0 30px 0;
}

button {
	display: block;		
	background-color: rgb(170, 0, 0);
	margin: 0 auto;
	font-size: 1em;
	padding: 10px;
	color: white;	
	width: 130px;
	border-radius: 5px;
	outline: none;
	border: none;
	cursor: pointer;
}

button:hover {
	background: gray;
}

#first_name, #last_name {
	padding-left: 10px;
}

#email {
	background-image: url(text.png);
	background-repeat: no-repeat;
	background-position: 10px;
}

#contact_number {
	background-image: url(phone.png);
	background-repeat: no-repeat;
	background-position: 10px;
}

#dob{
	padding-left: 10px;
}

.orange {
	color: rgb(170, 0, 0);
}

/* Responsive styling */
@media (min-width:576px) {
	form {
		width: 500px;
	}

	button {		
		width: 30%;
	}
}

@media (min-width:768px) {
	.form_submit {
		margin: 45px 0 36px 0;
	}
}
